body {
	background-image: url('background.jpg');
	background-size: 400px;
	min-height: 100vh;
}

@font-face {
	font-family: 'Seven Segment';
	src: url('Seven Segment.ttf') format('truetype');
}

h1, h2, p {
	font-family: 'Seven Segment';
}

h1 {
	text-align: center;
	margin: 0;
	font-size: 10em;
	color: red;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.dice {
	height: 100%;
	background-color: dodgerblue;
}

.scoreboard {
	height: 100%;
	background-color: white;
}

.main-container {
	max-width: 1200px;
	margin: auto;
}

.inner-container {
	height: 700px;
}

h2 {
	margin: 0;
}

#statusBar {
	text-align: center;
}

#dice {
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-70%);
	transform: translate(-50%,-70%);
}

.start-container {
	max-width: 500px;
	margin: auto;
	text-align: center;
}

#gameContainer p, #gameContainer h2 {
	color: black;
}