@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

@font-face {
	font-family: 'Seven Segment';
	src: url('../Fonts/Seven Segment.ttf') format('truetype');
}

@font-face {
	font-family: 'Arcade';
	src: url('../Fonts/ARCADE_N.ttf') format('truetype');
}

body {
	min-height: 100vh;
}

.title {
	font-family: 'Mr Dafoe', sans-serif;
	text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
	font-weight: normal;
	color: white;
	text-align: center;
	font-size: 7em;
	padding: 40px 0px;
	transition: 0.5s ease-in-out;
}

.start-container {
	max-width: 500px;
	margin: auto;
	text-align: center;
	background-color: #1e1e28;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
	background-size: 20px 10px;
	padding: 50px 0px;
	transition: 0.5s ease-in-out;
}

.main-container {
	max-width: 1200px;
	min-height: 600px;
	margin: auto;
	display: none;
	background: linear-gradient(180deg, #2b1165 0%, #1a3a82 37%, #ab24b1 69%, #f54171 100%);
	transition: 0.5s ease-in-out;
	opacity: 0;
}

.inner-container {
	display: inline-block;
	width: 100%;
	min-height: 600px;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
	background-size: 5px 5px, 5px 5px;
}

.dice-container {
	height: 100%;
	position: relative;
	padding: 40px 0px;
	text-align: center;
}

.scoreboard-container {
	height: 100%;
	padding: 40px 0px;
}

#statusBar {
	text-align: center;
	width: 90%;
	font-size: 2em;
	font-family: 'Arcade', sans-serif;
	color: white;
	margin: auto
}

h1 > a {
	color: white;
}

#dice {
	width: 200px;
	padding-top: 40px;
}

.scoreboard-entry {
	padding: 0px 0px 10px 0px;
	margin-left: 40px;
}

.scoreboard-entry > h2 {
	color: white;
	font-family: 'Seven Segment', sans-serif;
	font-size: 2.5em;
}

.players-label {
	color: white;
	display: block;
}

.players-input {
	width: 200px;
}

.start-button {
	width: 200px;
	height: 50px;
}

label, input, button {
	font-family: 'Arcade', sans-serif;
}